In [ ]:
# importing pandas
import pandas as pd

In [ ]:
# Opening a local csv file
df = pd.read_csv("height-weight.csv")

In [13]:
# Opening a csv file from an URL
import requests
from io import StringIO
import pandas as pd

url = "https://raw.githubusercontent.com/krishnaik06/Complete-Data-Science-With-Machine-Learning-And-NLP-2024/refs/heads/main/3-Complete%20Linear%20Regression/Practicals/Algerian_forest_fires_cleaned_dataset.csv"

req = requests.get(url)
data = StringIO(req.text)
df = pd.read_csv(data)

df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,0
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,0
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,0

In [14]:
df.shape

(243, 15)

In [17]:
df1 = pd.read_csv("height-weight.csv")

In [20]:
df1.head()

   Weight  Height
0      45     120
1      58     135
2      48     123
3      60     145
4      70     160

In [ ]:
df1 = pd.read_csv("height-weight.csv",index_col='Weight') # Index_col parameter
df1.head()

        Height
Weight
45         120
58         135
48         123
60         145
70         160

In [ ]:
## Header parameter
pd.read_csv('filename.csv',header=1)

In [ ]:
## use_col paramenter
pd.read_csv("File_name",usecols==['...','...','...']) # ... name of those columns that we use and other will be drop automatically

In [ ]:
# Squeeze parameter
pd.read_csv("file_name.csv",usecols=['gender'],squeeze = True)
# take only one columns and instead of dataframe converted into series

## Important `pandas.read_csv()` Parameters (Industry Use)

| Parameter | Purpose | When Used in Industry |
|------------|---------|------------------------|
| filepath_or_buffer | Path or URL of the file | Load local file, URL, or buffer |
| sep / delimiter | Column separator (`,` `;` `\t`) | Files using custom separators |
| header | Row number to use as column names | When header is not in first row |
| names | Custom column names | Dataset has no header |
| index_col | Column to use as index | Setting ID or key column |
| usecols | Load selected columns only | Reduce memory usage |
| dtype | Set column data types | Prevent wrong type inference |
| parse_dates | Convert columns to datetime | Time-series data |
| na_values | Custom missing value symbols | Handle NA, ?, NULL, etc. |
| encoding | File encoding type | Fix encoding errors |
| nrows | Read limited rows | Sampling big datasets |
| skiprows | Skip initial rows | Ignore metadata rows |
| skipfooter | Skip rows from bottom | Remove summary rows |
| chunksize | Read file in chunks | Handle very large files |
| low_memory | Controls memory optimization | Avoid dtype warning |
| thousands | Thousands separator symbol | Numbers like 1,00,000 |
| quotechar | Character for quoted text | Text containing separators |
| compression | Read compressed files | Load zip/gzip datasets |

#### Most commonly used in real projects:
- usecols, dtype, parse_dates, na_values, chunksize, encoding