In [1]:
import sqlite3

In [2]:
## Connect to an sqlite database
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
## Create a Table
cursor.execute('''
Create Table if not exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')
## Commit the changes
connection.commit()

In [6]:
cursor.execute('''
Select * from employees
''')

In [8]:
## Inset the data in sqlite table
cursor.execute("""
INSERT INTO employees(name, age, department)
VALUES ('Priyanshu yadav', 21, 'Data Scientist')
""")

cursor.execute("""
INSERT INTO employees(name, age, department)
VALUES ('Shudhanshu yadav', 21, 'software developer')
""")

cursor.execute("""
INSERT INTO employees(name, age, department)
VALUES 
('nimesh', 21, 'cyber security'),
('gaurav kumar', 21, 'cyber security'),
('dipesh', 21, 'Data Scientist')
""")
# commit the change
connection.commit()

-	execute() → database se data maangta hai
-	fetchall() → saara data le aata hai
-	rows → data list ke form me store hota hai

#### fetchall() kya karta hai?

Jab aap database se data SELECT karte ho, to data cursor ke paas ready hota hai.
fetchall() us saare data ko ek saath nikal leta hai.

In [9]:
# Query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()
# cursor.fetchone()  --> sirf ek row

# print the queried data
for row in rows:
    print(row)

(1, 'Priyanshu yadav', 21, 'Data Scientist')
(2, 'Shudhanshu yadav', 21, 'software developer')
(3, 'nimesh', 21, 'cyber security')
(4, 'gaurav kumar', 21, 'cyber security')
(5, 'dipesh', 21, 'Data Scientist')

In [13]:
# Update the data in the table
cursor.execute('''
UPDATE employees
       Set age = 20
       where name = "Priyanshu yadav" 
''')
connection.commit()

In [14]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Priyanshu yadav', 20, 'Data Scientist')
(2, 'Shudhanshu yadav', 21, 'software developer')
(3, 'nimesh', 21, 'cyber security')
(4, 'gaurav kumar', 21, 'cyber security')
(5, 'dipesh', 21, 'Data Scientist')

In [15]:
# Delete the data from table
cursor.execute('''
Delete from employees
               where name = 'dipesh'
''')
connection.commit()

In [16]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Priyanshu yadav', 20, 'Data Scientist')
(2, 'Shudhanshu yadav', 21, 'software developer')
(3, 'nimesh', 21, 'cyber security')
(4, 'gaurav kumar', 21, 'cyber security')

In [22]:
# Working with Sales Data
# Connect ta an Sqlite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a tavle for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
     id INTEGER PRIMARY KEY,
     data TEXT NOT NULL,
     product TEXT NOT NULL,
     sales INTEGER,
     region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-01', 'Product2', 200, 'South'),
    ('2023-01-01', 'Product3', 150, 'North'),
    ('2023-01-01', 'Product1', 250, 'East'),
    ('2023-01-01', 'Product5', 104, 'West')
]
cursor.executemany('''
insert into sales(data,product,sales,region)
                   values(?,?,?,?)
''',sales_data)
connection.commit()

In [23]:
cursor.execute('Select * from sales')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-01', 'Product2', 200, 'South')
(3, '2023-01-01', 'Product3', 150, 'North')
(4, '2023-01-01', 'Product1', 250, 'East')
(5, '2023-01-01', 'Product5', 104, 'West')

In [24]:
# Close the connection
connection.close()